h1{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
 
   
   body {
  background-color: #0b132b;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

input, button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  text-align: center;
}

input {
  width: 250px;
  text-align: center;
}

button {
  background-color: #ef233c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d90429;
}

.tarjetaEquipo {
  background-color: #1c2541;
  border: 1px solid #3a506b;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  width: 220px;
  text-align: center;
  color: #ffffff;
}

.tarjetaEquipo img {
  width: 100px;
  height: 100px;
}

.elegido {
  margin-top: 20px;
  font-weight: bold;
}